@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    @apply bg-white font-body text-black2;
    font-size: 16px;
    line-height: 1.6;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}

@layer components {
  .page-container {
    max-width: 1100px;
    @apply mx-auto;
    &--md {
      max-width: 1185px;
      @apply mx-auto;
    }
    &--lg {
      max-width: 1390px;
      @apply mx-auto;
    }
  }
  @media (max-width: 1024px) {
    .page-container {
      padding-left: 15px;
      padding-right: 15px;
      &--md {
        padding-left: 15px;
        padding-right: 15px;
      }
      &--lg {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

.checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.hamburger-lines {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 26px;
  width: 32px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: white;
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
